fastapi
uvicorn
python-dotenv
openai
qdrant-client
langchain
langchain-openai
langchain-community
langchain-qdrant
langchain-text-splitters
langgraph
pypdf
docx2txt
python-docx
youtube-transcript-api
beautifulsoup4
requests
python-multipart